
- if @my_tissue
  .alert.alert-info
    これはあなたのティッシュです。編集や削除ができます。

%h3.title
  = @post.title
%div
  %small.mr-2
    - if @user.nil?
      = "😎ゲスト"
    - else
      = "😎#{@user.name}"
  %small.mr-2
    = "🕑#{@post.updated_at.strftime("%Y-%m-%d %H:%M")}"
  - if @my_tissue
    = link_to edit_post_path(@post) do
      %small.mr-2
        ✏️編集
    = link_to @post, method: :delete, data: { confirm: '本当に削除していいですか？' } do
      %small.mr-2
        🗑️削除
%hr
%p
  = simple_format(Rinku.auto_link(@post.body, mode=:all, link_attr=nil, skip_tags=nil).html_safe)

%hr

.input-group.mb-3
  %input.form-control#url{"aria-describedby" => "url", :value => @post.url, :type => "text", readonly: true}/
  .input-group-append
    %button.btn.btn-outline-secondary#copied{:type => "button", 
                                      "data-clipboard-target": "#url", 
                                      "data-toggle": "tooltip",
                                      "data-placement": "bottom",
                                      title: "コピー完了！" } コピー

.row
  .col-md-6.col-sm-12.mb-3
    = link_to tweet_url(@post.url, @post.title), target: 'blank' do
      %button.btn.btn-primary.btn-block
        %i.fab.fa-twitter
        Twitterでシェア
  .col-md-6.col-sm-12
    = link_to post_qrcode_path(@post.key), target: 'blank' do
      %button.btn.btn-primary.btn-block
        %i.fas.fa-qrcode
        QRコードでシェア